 {% extends 'home/base.html' %}
{% load staticfiles %}

{% block body %}

		<body>



<div class="container" style='margin-top: 45px'>
<div class="row">
	<div class="col-md-9">
			<h3>Who We Are</h3>
			<p>
			<a href="{% url 'home:home' %}">BTCminertech.com </a> is an international investment entity that has been officially registered in Great Britain on November 2015. It was created by a group of professional traders, qualified experts and skilled analysts with valuable expertise especially in stock market and extensive practical experiences of combined knowledge and capabilities to allow for participation in the business market within a safe and non-risk investment environment.
			</p>
			<p>
				<a href="{% url 'home:home' %}">BTCminertech.com </a> by continuously optimizing its management strategies and investment methods wins a stable and privileged development with a subtle consideration and estimation on various factors including operational and compliance risk exposure. These enable our clients to safely diversify their investment portfolios while taking advantage of our highly profitable opportunities.
			</p>
			<p>
				In late 2015, <a href="{% url 'home:home' %}">BTCminertech.com </a> started expanding its client circle and increasing capital through offering investment opportunities to millions of internet users worldwide who highly appreciate time and want to take financial decisions. This growth has both strengthened the company's capital base and increased the opportunities for profit generation.
			</p>
			<p>
				Our customer-centered manner, impeccable reputation and innovative approach to business development has allowed the company to occupy a niche in offline business and to carry out online expansion. The development history of BTCminertech.com is a perfect example of how intelligence and discipline may triumph over the chaotic motion of the market.
			</p>
			<p>

				Large and constant income of financial flows should be followed with increasing the level of security. Our managers are constantly working on implementing unique trading schemes with the most advanced and effective trading technology, competitive services and genuine practices that allow working successfully on the market in a highly beneficial and profitable way.
			</p>
			<p>
				<a href="{% url 'home:home' %}">BTCminertech.com </a> has turned online investing into a very comfortable, speedy and easy process. One of our strongest advantages over competitors is that we provide insurance in investing funds. We also offer our clients with best management as well as risk control system to ensure that their funds are being handled efficiently and they are getting higher levels of safety
			</p>

			<p>
				<a href="{% url 'home:home' %}">BTCminertech.com </a> is a great platform for making online investments towards the needs and requirements of all types of investors. With BTCminertech.com, you will get to have the best online investing experience and it will be your one stop place for investment solutions. We strive to improve our performance by being instantly responsive to the needs of our clients and sharing our success with them
			</p>

			<p>
			</p>
			<p>
				The reliable image of the trade mark and reputation for paying guaranteed profit with exceptional outcome has become the earnest of success. Today, there is a number of well-known investment companies founded on the principles that BTCminertech.com pioneered and many corporations and individuals have found EU5 a rewarding place to invest. We hope you will join us and discover these rewards for yourself.
			</p>
	</div>

	<div class="col-sm-3">
		<h4> Up To 10% Daily Profit</h4>
		<p>Earn up to 10% guaranteed daily profit For 15 business days and get the principal back at maturity date.</p>

		 <h4>Guaranteed Daily Profit</h4>
		 <p>One of our strongest advantages over competitors is that we provide insurance in investing funds and guarantee your profits from all sides.</p>

		 <h4>24/7 Customer Support</h4>
		 <p>We provide unbeatable support via email and phone to cater your needs and get a professional, fast and effectively response.</p>

		 <h4> Fast & Secure Withdraw</h4>
		 <p>
		 We process all withdrawal requests within 24 hours and without any fee. You can make as many requests as you want without minimum withdrawal amount.</p>
	</div>
</div>

</div>

		</body>
	</html>



{% endblock %}