 {% extends 'home/base.html' %}
{% block body %}

			<!-- start banner Area -->
			<section class="banner-area relative" id="home">
				<div class="overlay overlay-bg"></div>
				<div class="container" style='margin-top: 50px'>

					<div class="row">

					<div class="col-sm-4">
						<h5 style="color: white;">Basic Package 10%</h5>
						<p>Daily profit for 15 working days</p>
						<hr style="color: white;">
						<p>$500 - $999</p>
					</div>
					<div class="col-sm-4">
					<h5 style="color: white;">Business Package 15%</h5>
					<p>Daily profit for 15 working days</p>
					<hr style="color: white;">
					<p>$1,000 - $3,999</p>
					</div>
					<div class="col-sm-4">
					<h5 style="color: white;">Professional Package
20%</h5>
					<p>Daily profit for 15 working days</p>
					<hr style="color: white;">
					<p>$10,000 - $50,000</p>
					</div>


					</div>
				</div>
			</section>
			<!-- End banner Area -->

<div style="" class="container">
<div class="row">
	<div class="col-md-8">
		<p>Thanks to some great partnerships we have established with hardware producers, as well as to our large scale purchases, we get better prices on our employed technology. This means we buy the hardware cheaper than the market price. What also bears great importance, considering the maintenance costs, is the storage of the miners: we have several farms around the globe, and each location was chosen to fulfill two important criteria: cheap electricity supply and little or no need for cooling.</p>

		<p>
			There is much beauty in purchasing and setting up your own mining operation, we know that. But setting up mining rigs are for those who are skilled technicians, can solve tricky complications, and generally see the fun in maintaining a complex construction. Cloud mining is for those who want to have the benefits of cryptocurrency mining without maintaining any mining equipment. For most people these are annoying, unnecessary difficulties, and our solution is targeted exactly at them.
		</p>
	</div>
</div>

</div>


{% endblock %}