{% extends 'Administrator/base.html' %}
{% load staticfiles %}


{% block body %}
<body>
  <section id="container">
    <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
    <!--header start-->
{% include 'Administrator/header.html' %}
    <!--header end-->
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
{% include 'Administrator/sidebar.html' %}
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-12 main-chart">



          </div>
          <!-- /col-lg-9 END SECTION MIDDLE -->
          <!-- **********************************************************************************************************************************************************
              RIGHT SIDEBAR CONTENT
              *********************************************************************************************************************************************************** -->

        </div>
        <!-- /row -->


<div class="row">


<!--      <div class="col-md-3">-->
<!--<div class="alert alert-success">-->
<!--  <strong>Personal Information</strong>-->


<!--</div>-->

<!--<div class="well well-sm">  <strong>Username:</strong> {{request.user.username}} <br><hr>-->
<!--<strong>Date Joined:</strong> {{request.user.date_joined}} <br><hr>-->
<!--<strong>Last Access:</strong> {{request.user.last_login}} <br><hr>-->

<!--</div>-->




<!--  </div>-->





              <div class="col-md-6 col-sm-12 mb">
                <!-- REVENUE PANEL -->
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

                    <div class="well well-sm well-success" style=''> Make a deposit</div>
                    <div class="well well-lg well-success" style='background-color:green; color:white;'> {{package}} <span class='pull-right'>{{price}} <br>
                    DAILY PROFIT(%):{{profit}}</span></div>




<div>
    <span>Investment Plan</span>
    <hr>
<form action="{% url 'administrator:invest' %}" method="POST"> {% csrf_token %}
    <div class="form-group">
    <label for="package">Select Plan:</label>
    <select class="form-control" id="package" name="package" >
    <option>BASIC PACKAGE 30% DAILY</option>
    <option>BUSINESS PACKAGE 15% DAILY</option>
    <option>PROFESSIONAL PACKAGE 20% DAILY</option>

    </select>
    </div>
  <br>
  <b>Available Balance: $</b>
  <br>
  <div class="form-group">
  <label for="usr">Amount to invest:</label>
  <input type="text" class="form-control" id="usr" value='0.00' name="amount">
  </div>

  <div class="form-group">
    <label for="sel1">Select Plan:</label>
    <select class="form-control" id="sel1" name="plan">

    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
    <option>7</option>
    <option>8</option>
    <option>9</option>
    <option>10</option>
    <option>11</option>
    <option>12</option>
    <option>13</option>
    <option>14</option>
    <option>15</option>
    <option>16</option>
    <option>17</option>
    <option>18</option>
    <option>19</option>
    <option>20</option>
    <option>21</option>
    <option>22</option>
    <option>23</option>
    <option>24</option>
    <option>25</option>
    <option>26</option>
    <option>27</option>
    <option>28</option>
    <option>29</option>
    <option>30</option>
    <option>31</option>
    <option>32</option>
    <option>33</option>
    <option>34</option>
    <option>35</option>
    <option>36</option>
    <option>37</option>
    <option>38</option>
    <option>39</option>
    <option>40</option>
    <option>41</option>
    <option>42</option>
    <option>43</option>
    <option>44</option>
    <option>45</option>
    <option>46</option>
    <option>47</option>
    <option>48</option>
    <option>49</option>
    <option>50</option>
    <option>51</option>
    <option>52</option>
    <option>53</option>
    <option>54</option>
    <option>55</option>
    <option>56</option>
    <option>57</option>
    <option>58</option>
    <option>59</option>
    <option>60</option>
    <option>61</option>
    <option>62</option>
    <option>63</option>
    <option>64</option>
    <option>65</option>
    <option>66</option>
    <option>67</option>
    <option>68</option>
    <option>69</option>
    <option>70</option>
    <option>71</option>
    <option>72</option>
    <option>73</option>
    <option>74</option>
    <option>75</option>
    <option>76</option>
    <option>77</option>
    <option>78</option>
    <option>79</option>
    <option>80</option>
    <option>81</option>
    <option>82</option>
    <option>83</option>
    <option>84</option>
    <option>85</option>
    <option>86</option>
    <option>87</option>
    <option>88</option>
    <option>89</option>
    <option>90</option>
    <option>91</option>
    <option>92</option>
    <option>93</option>
    <option>94</option>
    <option>95</option>
    <option>96</option>
    <option>97</option>
    <option>98</option>
    <option>99</option>
    <option>100</option>


    </select>
    </div>


  <input type='submit' class='btn btn-primary' value='Next'>

</div>
</form>



                </div>

                </div>
              </div>





<!--  <div class="col-md-3">-->
<!--<div class="alert alert-success">-->
<!--  <strong>Account Overview</strong>-->
<!--</div>-->
<!--<div class="well well-sm">  <strong>Available Balance:</strong>  <br><hr>-->
<!--<strong>Profit Margin:</strong> <br><hr>-->
<!--<strong>Active Investments:</strong> <br><hr>-->
<!--<strong>Pending Withdraw:</strong> <br><hr>-->

<!--</div>-->


<!--  </div>-->

</div>
<!-- end of row -->


















      </section>
    </section>
    <!--main content end-->

  </section>
  <!-- js placed at the end of the document so the pages load faster -->


<script>
    document.querySelector('#package').value = '{{package}}'
</script>

{% endblock body %}

</body>

</html>
