{% extends 'Administrator/base2.html' %}
{% load staticfiles %}


{% block body %}




  <div class="flex-center profile-container">
    <div class="flex-center divs col-cen wallet">
      <div class="flex-center wallet-div">
        <div class="wallet-container w1 flex-center">
          <div class="wallet-text">
            <p class="">$500.00 - $999.00 </p>
            <p>BASIC PACKAGE 30% DAILY</p>
          </div>
        </div>
        <div class="wallet-container w2 flex-center">
          <div class="wallet-text">
            <p class="">$1000.00 - $3999.00</p>
            <p>BUSINESS PACKAGE 15% DAILY</p>
          </div>
        </div>
         <div class="wallet-container w3 flex-center">
          <div class="wallet-text">
            <p class="">$10000.00 - $50000.00</p>
            <p>PROFESSIONAL PACKAGE 20% DAILY</p>
          </div>
        </div> 
        <!-- <div class="wallet-container w4 flex-center">
          <div class="wallet-text">
            <p class="wallet-amount">₦1,000</p>
            <p>Affiliate Bonus</p>
          </div>
        </div>
        <div class="wallet-container w5 flex-center">
          <div class="wallet-text">
            <p class="wallet-amount">₦1,000</p>
            <p>VTU wallet</p>
          </div>
        </div>  -->
      </div>
    </div>
    
    <div class="divs col-cen recharge">
      <div class="flex-center recharge-div">
        <form method='POST' action="{% url 'administrator:depositnext' %}"> {% csrf_token %}
          <div class="container">
            <label>Select Plan:</label>
            <select id="sel1" name='package'>
              <option>BASIC PACKAGE 30% DAILY</option>
              <option>BUSINESS PACKAGE 15% DAILY</option>
              <option>PROFESSIONAL PACKAGE 20% DAILY</option>
            </select>
          </div>

          <button type="submit">Next</button>
        </form>
      </div>
    </div>

  </div>
{% endblock body %}

